<!DOCTYPE html>
<html lang="en">
<head>
<title>Ipfs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width , initial-scale= 1.0 ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

</head>
<body>
<h1> Upload file </h1>
<form method='post' action='upload' enctype="multipart/form-data">
<label>FileName </label>
<input type= "text" name = "fileName">
<br><br>
<label>UploadFile </label>
<input type= "file" name = "file">
<br><br>
<input type= "submit" name = "submit">
</form>
</body>
</html>
